<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Evernote Planner</title>
</head>
<body>
	<h1> Welcome to your Evernote Planner! </h1>
	<div class="all-notebooks">
		<h3>Notebooks</h3>
            
	</div>
	<div class="current-notebooks"></div>
	<div class="search-notebooks"></div>

</body>
</html>