<!-- <!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Evernote Planner</title>
</head>
<body> -->
	<h1> Welcome to your Evernote Planner! </h1>
		<img src="/images/merrychristmas.jpg" alt="christmas background with lights" style="width:304px;height:228px;">
		<h3><%= date%> Notes</h3>
		<%= Object.keys(note) %>
		<div class="col-sm-6">
        	<%= note.content %> 
        </div>
            
<!-- 	</div>
	<div class="current-notebooks"></div>
	<div class="search-notebooks"></div>
	<div class="background-credit"><a href='http://www.freepik.com/free-vector/christmas-background-design_995420.htm'></a></div>
	<div class="all-notebooks">

</body>
</html> -->