<!-- views/index.ejs -->
<!doctype html>
<html>
<head>
    <title>Evernote Planner</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <link rel="stylesheet" href="/css/styles.css">
    
</head>
<body>
<div class="container-index">
    <div class="evernote-login-icon">
        <img src="/images/evernote_logo.png" alt="evernote logo" height="200px" width="440px">
    	<h1>PLANNER</h1>
    </div>
    <div class="evernote-signin-btn">     

        <a href="/auth/evernote" class="btn btn-default">Sign in</a>
   
    </div>

</div>
</body>
</html>