* {
    font-family: 'Roboto', sans-serif, Arial;
}

body {
    
    background-repeat: no-repeat;
    background-size: cover;
}

h1 {
    text-align: center;
    background-size: cover;
    border-radius: 5px;

}

.date-title {
    text-align: center;
    color: rgba(255,255,255,0.9)
    
}

.container {
    display: flex;
    border: 5px solid; 
    min-height: 100vh;
    flex-wrap: wrap;
    flex-direction: row;
    background-image: url('/images/green.jpg');
    background-size: cover;

}

.planner-notes {
/*     background-image: url('/images/hotcocoa.jpg'); */
    background-size: contain;
    background-repeat: no-repeat;
    height: 400px;
    width: 350px;
    padding: 20px;
    text-align: right;
    font-size: 25px;
}

.event {
    background-color: rgba(144,238,144,0.9);
    padding: 5px;
    box-sizing: border-box;
    margin: 10px 0;
    font-family: sans-serif;
    text-align: center;
    width: 600px;
    border-radius: 5px;
}

.event h3 {
    margin: 0;
    font-size: 18px;
}

.event h4 {
    margin: 5px 0;
    font-weight: normal;
    font-size: 14px;
}

.event p {
    margin-bottom: 0;
}

.time, .event-title, .event-description {
    height: 35px;
    border-radius: 5px;
    text-align: center;
}

input[type=submit] {
    font-size: 20px;
    border-radius: 7px;
    background-color:rgba(144,238,144,0.9);
    cursor: pointer;
    width: 50%;
}

ul.pagination {
    display: inline-block;
    padding: 0;
    margin: 0;
}

ul.pagination li {
    display: inline;
}

ul.pagination li a {
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
    border-radius: 5px;
}

ul.pagination li a.active {
    background-color: #4CAF50;
    color: white;
    border-radius: 5px;
}

ul.pagination li a:hover:not(.active) {
    background-color: #ddd;
}






